:root{
      --cor-texto-principal:#77d1dd;
      --cor-texto-secundario:#9e9d9d;
      --cor-botao-principal:#0f0101;
      --cor-botao-secundario:#f7f1f1;

}


*{

       margin:0;
       padding:0;
}

body{
      background-color: var(--cor-botao-principal);
      color: var(--cor-texto-principal);


}

.principal{
    background-image: url("./img/the-chosen-nos-cinemas.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}
    .container{
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50% ;
    }
    .container--botao{
       background-color: var(--cor-botao-secundario);
       color:var(--cor-botao-principal);
       padding: 1em;
       border-radius: 5px;
       text-decoration: none;
       display: block;
       margin-bottom: 2em;
    }
     .botao--secundario{
          background-color: transparent;
          border: 2px solid var(--cor-botao-secundario);
          color: white;
      
     }

    .container--caixa{
     margin: 0 6em;

    }
    .container--titulo{
     margin: 1em 0 2em 0;

    }
.secundario{
    align-items: center;
    margin:0 10em;

}

.descricao--titulo{
  font-weight: 700 ;
  font-size: 48px;
  color: var(--cor-botao-principal);
  margin-bottom: 0.1em;


}








