:root{
      --cor-texto-principal:#ffffff;
      --cor-texto-secundario:#c0c0c0;
      --cor-botao-principal:#167bf7;
      --cor-botao-secundario:#00030c;

}


*{

       margin:0;
       padding:0;
}

body{
      background-color: var(--cor-botao-secundario);
      color: var(--cor-texto-principal)


}

.principal{
    background-image: url("./img/the-chosen-nos-cinemas.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
    .container{
        height: 100vh;



        
    }









