*{
       margin:0;
       padding:0;
}


.principal{
    background-image: url("./img/the-chosen-nos-cinemas.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
    .container{
        height: 100vh;



    }









